@model Expenses

@{
    var CategoryList = new[]
    {
        new {Id = 1, Category = "BreakFast"},
        new {Id = 2, Category = "Lunch"},
        new {Id = 3, Category = "Dinner" },
        new {Id = 4, Category = "Travel" },
        new {Id = 5, Category = "Snacks" },
        new {Id = 6, Category = "Recharges" },
        new {Id = 7, Category = "Others"},
        new {Id = 8, Category = "Education"}
    };
}

<form method="post" class="mt-4">
    <div class="card border-primary mb-3 mt-3 pt-1" style="max-width: 30rem;">
        <div class="card-header p-2 text-center"><h3>Create Expenses</h3></div>
        <div class="card-body">
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="Category" class="col-form-label col-form-label-sm mt-4" for="inputSmall"></label>
                <select asp-for="Category" class="form-control my-2">
                    @foreach(var item in CategoryList)
                    {
                        <option asp-for="@item.Category" value="@item.Id" >@item.Category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-form-label col-form-label-sm mt-4" for="inputSmall">Name</label>
                <input asp-for="Name" class="form-control form-control-sm" type="text" id="inputSmall" required>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="col-form-label col-form-label-sm mt-4" for="inputSmall"></label>
                <input asp-for="Location" class="form-control form-control-sm" type="text" id="inputSmall" required>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="col-form-label col-form-label-sm mt-4" for="inputSmall">Money</label>
                <input asp-for="Money" class="form-control form-control-sm" type="number" placeholder="Enter Money" id="inputSmall" required>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="col-form-label col-form-label-sm mt-4" for="inputSmall"></label>
                <input asp-for="Date" class="form-control form-control-sm" type="datetime-local" id="inputSmall" required>
            </div>
            <div class="form-group align-items-center row pt-4">
                <div class="col-6">
                    <button type="submit" class="btn btn-success m-auto col-6 form-control">Create</button>
                </div>
                <div class="col-6">
                    <a class="col-6 text-center form-control text-decoration-none" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>


